#include "Menu.h"
Menu MENU
BEGIN
POPUP "File"
BEGIN
MENUITEM "Open", IDM_MENU_FILE_OPEN
MENUITEM "Close", IDM_MENU_FILE_CLOSE, GRAYED
MENUITEM "Quit", IDM_MENU_QUIT
END
POPUP "View"
BEGIN
MENUITEM "Wrap", IDM_MENU_TEXT_WRAP, GRAYED
MENUITEM "Unwrap", IDM_MENU_TEXT_UNWRAP, GRAYED
END
END
